.KanbanBoard {
  border: solid blue;
  margin: 2rem;
  display: flex;
  min-width: 500px;
  align-items: center;

}

.KanbanList {
    margin: 10px;
    border: solid black;
    min-width: 200px;
    max-width: 250px;
    background-color: white;
    
 
  }   
  
.ListItem {
    font-size: 1rem;
    color: red;
    border: solid rgb(86, 177, 24);

  }